<i id="dark-mode-toggle" style="cursor: pointer;"></i>

<script>
var toggle = document.getElementById("dark-mode-toggle");
var darkTheme = document.getElementById("dark-mode-theme");
var savedTheme = localStorage.getItem("dark-mode-storage") || "light";

const darkThemeClassName = "fas fa-moon ml-4 mt-2";
const lightThemeClassName = "fas fa-sun ml-4 mt-2";

setTheme(savedTheme);


toggle.addEventListener("click", () => {

		if (toggle.className === darkThemeClassName) {
        setTheme("dark");
    } else if (toggle.className === lightThemeClassName) {
        setTheme("light");
    }
});

function setTheme(mode) {
    localStorage.setItem("dark-mode-storage", mode);  

    if (mode === "dark") {
        darkTheme.disabled = false;
        toggle.className = lightThemeClassName;
    } else if (mode === "light") {
        darkTheme.disabled = true;
        toggle.className = darkThemeClassName;
    }
}
</script>
