<div id="fetched-markdown"></div>

<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js" type="text/javascript"></script>

<script>

fetch({{ .Get "readmeURL" }}).then((response) => response.text()).then((data) => {
        console.log(data);
        const converter = new showdown.Converter();
        const html      = converter.makeHtml(data);
        document.getElementById('fetched-markdown').innerHTML = html;
});
</script>

-----

This information was fetched from [{{ .Get "projectName" }}'s]({{ .Get "projectURL" }}) [README]({{ .Get "readmeURL" }}).
